<% if defined?(JRUBY_VERSION) %>
connections:
  postgresql:
    adapter: postgresql
    database: apartment_postgresql_test
    username: postgres
    min_messages: WARNING
    driver: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/apartment_postgresql_test
    timeout: 5000
    pool: 5

  mysql:
    adapter: mysql
    database: apartment_mysql_test
    username: root
    min_messages: WARNING
    driver: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/apartment_mysql_test
    timeout: 5000
    pool: 5
<% else %>
connections:
  postgresql:
    adapter: postgresql
    database: apartment_postgresql_test
    min_messages: WARNING
    username: postgres
    schema_search_path: public
    password:

  mysql:
    adapter: mysql2
    database: apartment_mysql_test
    username: root
    password:

  sqlite:
    adapter: sqlite3
    database: <%= File.expand_path('../spec/dummy/db', __FILE__) %>/default.sqlite3

  sqlserver:
    adapter: sqlserver
    mode: dblib
    host: localhost
    database: apartment_sqlserver_test
    username: sa
    password:
<% end %>
